/* Apply to the whole page */
/* body {
  background-color: #D2691E; 
  color: #2C1A0C;           
} */

/* Optional: tweak main content container if Blowfish uses a card/box style */
/* main {
  background: transparent; 
} */

@font-face {
  font-family: 'Utopia Std Regular';
  src: url('/company-website-example/fonts/utopia-std.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Utopia Std Regular', serif;
}

.prose {
  --tw-prose-body: rgba(var(--color-typography), 1);
  --tw-prose-captions: rgba(var(--color-typography), 1);
  --tw-prose-bold: rgba(var(--color-secondary-accent), 1);
}

body {
  background-color: rgba(var(--color-background), 1);
}

header {
  color: rgba(var(--color-brand), 1);
}



.main-menu {
  position:relative;
}

.backdrop {
  width: 100vw;
  margin-left:calc(-50vw + 50%); /* cancel parent centering */
  position: absolute;
  height: 100%;
  z-index:-1;
}
.main-menu .backdrop {
  background-color: rgba(var(--color-neutral),1);
}


footer .backdrop {
  background-color: rgba(var(--color-brand), 1);
}

.main-menu {
  color: rgba(var(--color-brand),1);
}

h1.text-neutral-900 {
  color: rgba(var(--color-brand), 1);
}

.main-menu .menuhide .rounded-xl {
  background-color: rgba(var(--color-neutral), 1);
  min-width: calc(var(--spacing) * 50);
}

footer nav {
  padding: calc(var(--spacing) * 5) 0;
}

main {
  padding: calc(var(--spacing) * 5) 0;
}

main .text-neutral-500 {
  color: rgba(var(--color-typography), 1);
}

main a.text-neutral-800 {
  color: rgba(var(--color-brand), 1)
}

.util-m-center {
  margin-left: auto;
  margin-right: auto;
}