:root {
    --default-font-family: "Utopia Std Regular";

    --color-neutral: 255, 255, 255;
    --color-neutral-50: 255, 255, 255;
    --color-neutral-100: 255, 255, 255;
    --color-neutral-200: 255, 255, 255;
    --color-neutral-300: 255, 255, 255;
    --color-neutral-400: 255, 255, 255;
    --color-neutral-500: 247, 232, 208;
    --color-neutral-600: 241, 215, 173;
    --color-neutral-700: 235, 198, 138;
    --color-neutral-800: 229, 181, 103;
    --color-neutral-900: 223, 164, 69;
    --color-primary-50: 248, 238, 229;
    --color-primary-100: 232, 199, 168;
    --color-primary-200: 215, 160, 108;
    --color-primary-300: 194, 121, 53;
    --color-primary-400: 134, 83, 36;
    --color-primary-500: 74, 46, 20;
    --color-primary-600: 42, 26, 11;
    --color-primary-700: 10, 6, 3;
    --color-primary-800: 0, 0, 0;
    --color-primary-900: 0, 0, 0;
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 255, 255, 255;
    --color-secondary-200: 255, 255, 255;
    --color-secondary-300: 255, 255, 255;
    --color-secondary-400: 249, 230, 194;
    --color-secondary-500: 242, 201, 124;
    --color-secondary-600: 238, 186, 87;
    --color-secondary-700: 235, 170, 50;
    --color-secondary-800: 222, 152, 22;
    --color-secondary-900: 184, 127, 18;

    --color-brand: 198, 90, 30;
    --color-secondary-accent: 94, 123, 108;
    --color-background: var(--color-neutral-500);
    --color-typography: var(--color-primary-500);
    --color-highlight: var(--color-secondary-500);

    /* card color variables */
    --color-card-background: rgba(var(--color-brand), .15);
    --color-card-background-hover: rgba(var(--color-brand), .08);
    --color-card-background-alt: rgba(var(--color-secondary-accent), 1);
    --color-card-background-alt-hover: rgba(var(--color-secondary-accent), .15);
    --color-card-body: #3B2F25;
    --color-card-title: rgba(var(--color-secondary-accent), 1);
    --color-card-title-alt: white;
    --color-card-border: rgba(var(--color-brand), 1);
    --color-card-border-alt: rgba(var(--color-secondary-accent), 1);

    --transition-speed: .4s;
}